{% extends 'partials/base.html' %}

{% block title %}Password Reset Done Page{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="border bg-white p-3">
          <h3>Password Reset Done Page</h3>
          <hr>
          <div class="alert alert-info">
            <h5>The mail with instructions has been sent to your email address you provided. Please follow instructions to reset the password.</h5>
          </div>
          <a href="{% url 'user-login' %}">Login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
  