{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Customer Update Page{% endblock %}

{% block content %}
<div class="row my-4">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <span class="h4">Profile Information</span>
    <hr>
    <div class="card">
      <div class="card-header bg-info text-white">
        Customer Detail Page
      </div>
      <div class="card-body">
        <form
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          {{ user_form|crispy }}
          {{ profile_form|crispy }}
          <button
            class="btn btn-info text-white"
            type="submit"
          >Update</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}